html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #ffe500;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0em;
  margin-bottom: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav li {
  text-align: center;
  display: inline-block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  padding: 0.3em 0.4em;
  border-radius: 4px;
  background-color: #b2a212;
  border-radius: 4px;
}

.current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}

main {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  color: #cc1465;
  margin-top: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-top: 0.2em;
}

p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

img {
  display: block;
  width: 100%;
  padding: 0.5em;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.75rem;
  color: #2f2d13;
}
